:root {
    background-color: aliceblue;
}

div {
    border: 1px solid #00aaaa;
    border-radius: 4px;
    height: 100px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}